<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ucss.elementary.tnwn.mapper.tnwn.TBLongareacodePlaMapper" >
  <resultMap id="BaseResultMap" type="com.ucss.elementary.tnwn.model.database.TBLongareacodePla" >
    <result column="ID" property="id" jdbcType="DECIMAL" />
    <result column="PLATFORMCODE" property="platformcode" jdbcType="VARCHAR" />
    <result column="AREACODE" property="areacode" jdbcType="VARCHAR" />
    <result column="PLATFORMAREACODE" property="platformareacode" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, PLATFORMCODE, AREACODE, PLATFORMAREACODE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ucss.elementary.tnwn.model.database.TBLongareacodePlaExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from T_B_LONGAREACODE_PLA
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.ucss.elementary.tnwn.model.database.TBLongareacodePlaExample" >
    delete from T_B_LONGAREACODE_PLA
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ucss.elementary.tnwn.model.database.TBLongareacodePla" >
    insert into T_B_LONGAREACODE_PLA (ID, PLATFORMCODE, AREACODE, 
      PLATFORMAREACODE)
    values (#{id,jdbcType=DECIMAL}, #{platformcode,jdbcType=VARCHAR}, #{areacode,jdbcType=VARCHAR}, 
      #{platformareacode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ucss.elementary.tnwn.model.database.TBLongareacodePla" >
    insert into T_B_LONGAREACODE_PLA
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="platformcode != null" >
        PLATFORMCODE,
      </if>
      <if test="areacode != null" >
        AREACODE,
      </if>
      <if test="platformareacode != null" >
        PLATFORMAREACODE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="platformcode != null" >
        #{platformcode,jdbcType=VARCHAR},
      </if>
      <if test="areacode != null" >
        #{areacode,jdbcType=VARCHAR},
      </if>
      <if test="platformareacode != null" >
        #{platformareacode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ucss.elementary.tnwn.model.database.TBLongareacodePlaExample" resultType="java.lang.Integer" >
    select count(*) from T_B_LONGAREACODE_PLA
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update T_B_LONGAREACODE_PLA
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=DECIMAL},
      </if>
      <if test="record.platformcode != null" >
        PLATFORMCODE = #{record.platformcode,jdbcType=VARCHAR},
      </if>
      <if test="record.areacode != null" >
        AREACODE = #{record.areacode,jdbcType=VARCHAR},
      </if>
      <if test="record.platformareacode != null" >
        PLATFORMAREACODE = #{record.platformareacode,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update T_B_LONGAREACODE_PLA
    set ID = #{record.id,jdbcType=DECIMAL},
      PLATFORMCODE = #{record.platformcode,jdbcType=VARCHAR},
      AREACODE = #{record.areacode,jdbcType=VARCHAR},
      PLATFORMAREACODE = #{record.platformareacode,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>