<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ucss.elementary.tnwn.mapper.tnwn.TLTnwninterlogMapper" >
  <resultMap id="BaseResultMap" type="com.ucss.elementary.tnwn.model.database.TLTnwninterlog" >
    <result column="ID" property="id" jdbcType="DECIMAL" />
    <result column="IFCODE" property="ifcode" jdbcType="VARCHAR" />
    <result column="IFNAME" property="ifname" jdbcType="VARCHAR" />
    <result column="REQUESTER" property="requester" jdbcType="VARCHAR" />
    <result column="PHONE" property="phone" jdbcType="VARCHAR" />
    <result column="IP" property="ip" jdbcType="CHAR" />
    <result column="IFURL" property="ifurl" jdbcType="VARCHAR" />
    <result column="IFRESULTCODE" property="ifresultcode" jdbcType="VARCHAR" />
    <result column="IFRESULT" property="ifresult" jdbcType="CHAR" />
    <result column="OUTERIFCODE" property="outerifcode" jdbcType="VARCHAR" />
    <result column="OUTERIFNAME" property="outerifname" jdbcType="VARCHAR" />
    <result column="OUTERIFURL" property="outerifurl" jdbcType="VARCHAR" />
    <result column="OUTERIFRESULT" property="outerifresult" jdbcType="VARCHAR" />
    <result column="CREATETIME" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.ucss.elementary.tnwn.model.database.TLTnwninterlog" extends="BaseResultMap" >
    <result column="IFEXCEPTION" property="ifexception" jdbcType="CLOB" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, IFCODE, IFNAME, REQUESTER, PHONE, IP, IFURL, IFRESULTCODE, IFRESULT, OUTERIFCODE, 
    OUTERIFNAME, OUTERIFURL, OUTERIFRESULT, CREATETIME
  </sql>
  <sql id="Blob_Column_List" >
    IFEXCEPTION
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.ucss.elementary.tnwn.model.database.TLTnwninterlogExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from T_L_TNWNINTERLOG
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ucss.elementary.tnwn.model.database.TLTnwninterlogExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from T_L_TNWNINTERLOG
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.ucss.elementary.tnwn.model.database.TLTnwninterlogExample" >
    delete from T_L_TNWNINTERLOG
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ucss.elementary.tnwn.model.database.TLTnwninterlog" >

    <selectKey resultType="_long" keyProperty="id" order="BEFORE">
      SELECT SEQ_TNWNINTERLOG.NEXTVAL FROM DUAL
    </selectKey>

    insert into T_L_TNWNINTERLOG (ID, IFCODE, IFNAME, 
      REQUESTER, PHONE, IP, 
      IFURL, IFRESULTCODE, IFRESULT, 
      OUTERIFCODE, OUTERIFNAME, OUTERIFURL, 
      OUTERIFRESULT, CREATETIME, IFEXCEPTION
      )
    values (#{id,jdbcType=DECIMAL}, #{ifcode,jdbcType=VARCHAR}, #{ifname,jdbcType=VARCHAR}, 
      #{requester,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{ip,jdbcType=CHAR}, 
      #{ifurl,jdbcType=VARCHAR}, #{ifresultcode,jdbcType=VARCHAR}, #{ifresult,jdbcType=CHAR}, 
      #{outerifcode,jdbcType=VARCHAR}, #{outerifname,jdbcType=VARCHAR}, #{outerifurl,jdbcType=VARCHAR}, 
      #{outerifresult,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{ifexception,jdbcType=CLOB}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ucss.elementary.tnwn.model.database.TLTnwninterlog" >
    insert into T_L_TNWNINTERLOG
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="ifcode != null" >
        IFCODE,
      </if>
      <if test="ifname != null" >
        IFNAME,
      </if>
      <if test="requester != null" >
        REQUESTER,
      </if>
      <if test="phone != null" >
        PHONE,
      </if>
      <if test="ip != null" >
        IP,
      </if>
      <if test="ifurl != null" >
        IFURL,
      </if>
      <if test="ifresultcode != null" >
        IFRESULTCODE,
      </if>
      <if test="ifresult != null" >
        IFRESULT,
      </if>
      <if test="outerifcode != null" >
        OUTERIFCODE,
      </if>
      <if test="outerifname != null" >
        OUTERIFNAME,
      </if>
      <if test="outerifurl != null" >
        OUTERIFURL,
      </if>
      <if test="outerifresult != null" >
        OUTERIFRESULT,
      </if>
      <if test="createtime != null" >
        CREATETIME,
      </if>
      <if test="ifexception != null" >
        IFEXCEPTION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="ifcode != null" >
        #{ifcode,jdbcType=VARCHAR},
      </if>
      <if test="ifname != null" >
        #{ifname,jdbcType=VARCHAR},
      </if>
      <if test="requester != null" >
        #{requester,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="ip != null" >
        #{ip,jdbcType=CHAR},
      </if>
      <if test="ifurl != null" >
        #{ifurl,jdbcType=VARCHAR},
      </if>
      <if test="ifresultcode != null" >
        #{ifresultcode,jdbcType=VARCHAR},
      </if>
      <if test="ifresult != null" >
        #{ifresult,jdbcType=CHAR},
      </if>
      <if test="outerifcode != null" >
        #{outerifcode,jdbcType=VARCHAR},
      </if>
      <if test="outerifname != null" >
        #{outerifname,jdbcType=VARCHAR},
      </if>
      <if test="outerifurl != null" >
        #{outerifurl,jdbcType=VARCHAR},
      </if>
      <if test="outerifresult != null" >
        #{outerifresult,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="ifexception != null" >
        #{ifexception,jdbcType=CLOB},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ucss.elementary.tnwn.model.database.TLTnwninterlogExample" resultType="java.lang.Integer" >
    select count(*) from T_L_TNWNINTERLOG
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update T_L_TNWNINTERLOG
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=DECIMAL},
      </if>
      <if test="record.ifcode != null" >
        IFCODE = #{record.ifcode,jdbcType=VARCHAR},
      </if>
      <if test="record.ifname != null" >
        IFNAME = #{record.ifname,jdbcType=VARCHAR},
      </if>
      <if test="record.requester != null" >
        REQUESTER = #{record.requester,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null" >
        PHONE = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.ip != null" >
        IP = #{record.ip,jdbcType=CHAR},
      </if>
      <if test="record.ifurl != null" >
        IFURL = #{record.ifurl,jdbcType=VARCHAR},
      </if>
      <if test="record.ifresultcode != null" >
        IFRESULTCODE = #{record.ifresultcode,jdbcType=VARCHAR},
      </if>
      <if test="record.ifresult != null" >
        IFRESULT = #{record.ifresult,jdbcType=CHAR},
      </if>
      <if test="record.outerifcode != null" >
        OUTERIFCODE = #{record.outerifcode,jdbcType=VARCHAR},
      </if>
      <if test="record.outerifname != null" >
        OUTERIFNAME = #{record.outerifname,jdbcType=VARCHAR},
      </if>
      <if test="record.outerifurl != null" >
        OUTERIFURL = #{record.outerifurl,jdbcType=VARCHAR},
      </if>
      <if test="record.outerifresult != null" >
        OUTERIFRESULT = #{record.outerifresult,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null" >
        CREATETIME = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.ifexception != null" >
        IFEXCEPTION = #{record.ifexception,jdbcType=CLOB},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update T_L_TNWNINTERLOG
    set ID = #{record.id,jdbcType=DECIMAL},
      IFCODE = #{record.ifcode,jdbcType=VARCHAR},
      IFNAME = #{record.ifname,jdbcType=VARCHAR},
      REQUESTER = #{record.requester,jdbcType=VARCHAR},
      PHONE = #{record.phone,jdbcType=VARCHAR},
      IP = #{record.ip,jdbcType=CHAR},
      IFURL = #{record.ifurl,jdbcType=VARCHAR},
      IFRESULTCODE = #{record.ifresultcode,jdbcType=VARCHAR},
      IFRESULT = #{record.ifresult,jdbcType=CHAR},
      OUTERIFCODE = #{record.outerifcode,jdbcType=VARCHAR},
      OUTERIFNAME = #{record.outerifname,jdbcType=VARCHAR},
      OUTERIFURL = #{record.outerifurl,jdbcType=VARCHAR},
      OUTERIFRESULT = #{record.outerifresult,jdbcType=VARCHAR},
      CREATETIME = #{record.createtime,jdbcType=TIMESTAMP},
      IFEXCEPTION = #{record.ifexception,jdbcType=CLOB}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update T_L_TNWNINTERLOG
    set ID = #{record.id,jdbcType=DECIMAL},
      IFCODE = #{record.ifcode,jdbcType=VARCHAR},
      IFNAME = #{record.ifname,jdbcType=VARCHAR},
      REQUESTER = #{record.requester,jdbcType=VARCHAR},
      PHONE = #{record.phone,jdbcType=VARCHAR},
      IP = #{record.ip,jdbcType=CHAR},
      IFURL = #{record.ifurl,jdbcType=VARCHAR},
      IFRESULTCODE = #{record.ifresultcode,jdbcType=VARCHAR},
      IFRESULT = #{record.ifresult,jdbcType=CHAR},
      OUTERIFCODE = #{record.outerifcode,jdbcType=VARCHAR},
      OUTERIFNAME = #{record.outerifname,jdbcType=VARCHAR},
      OUTERIFURL = #{record.outerifurl,jdbcType=VARCHAR},
      OUTERIFRESULT = #{record.outerifresult,jdbcType=VARCHAR},
      CREATETIME = #{record.createtime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>