<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ucss.elementary.tnwn.mapper.tnwn.TUserInfoTempMapper" >
  <resultMap id="BaseResultMap" type="com.ucss.elementary.tnwn.model.database.TUserInfoTemp" >
    <result column="SERVICENUM" property="servicenum" jdbcType="VARCHAR" />
    <result column="STATE" property="state" jdbcType="VARCHAR" />
    <result column="STATEDESC" property="statedesc" jdbcType="VARCHAR" />
    <result column="NETID" property="netid" jdbcType="VARCHAR" />
    <result column="NETIDDESC" property="netiddesc" jdbcType="VARCHAR" />
    <result column="PORTINID" property="portinid" jdbcType="VARCHAR" />
    <result column="PORTINIDDESC" property="portiniddesc" jdbcType="VARCHAR" />
    <result column="PORTOUTID" property="portoutid" jdbcType="VARCHAR" />
    <result column="PORTOUTIDDESC" property="portoutiddesc" jdbcType="VARCHAR" />
    <result column="HOMENET" property="homenet" jdbcType="VARCHAR" />
    <result column="HOMENETDESC" property="homenetdesc" jdbcType="VARCHAR" />
    <result column="ACTIVETIME" property="activetime" jdbcType="VARCHAR" />
    <result column="SERVICETYPE" property="servicetype" jdbcType="VARCHAR" />
    <result column="SERVICETYPEDESC" property="servicetypedesc" jdbcType="VARCHAR" />
    <result column="REGION" property="region" jdbcType="VARCHAR" />
    <result column="REGIONNAME" property="regionname" jdbcType="VARCHAR" />
    <result column="PROVINCE" property="province" jdbcType="VARCHAR" />
    <result column="PROVINCENAME" property="provincename" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    SERVICENUM, STATE, STATEDESC, NETID, NETIDDESC, PORTINID, PORTINIDDESC, PORTOUTID, 
    PORTOUTIDDESC, HOMENET, HOMENETDESC, ACTIVETIME, SERVICETYPE, SERVICETYPEDESC, REGION, 
    REGIONNAME, PROVINCE, PROVINCENAME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ucss.elementary.tnwn.model.database.TUserInfoTempExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from T_USER_INFO_TEMP
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.ucss.elementary.tnwn.model.database.TUserInfoTempExample" >
    delete from T_USER_INFO_TEMP
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ucss.elementary.tnwn.model.database.TUserInfoTemp" >
    insert into T_USER_INFO_TEMP (SERVICENUM, STATE, STATEDESC, 
      NETID, NETIDDESC, PORTINID, 
      PORTINIDDESC, PORTOUTID, PORTOUTIDDESC, 
      HOMENET, HOMENETDESC, ACTIVETIME, 
      SERVICETYPE, SERVICETYPEDESC, REGION, 
      REGIONNAME, PROVINCE, PROVINCENAME
      )
    values (#{servicenum,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR}, #{statedesc,jdbcType=VARCHAR}, 
      #{netid,jdbcType=VARCHAR}, #{netiddesc,jdbcType=VARCHAR}, #{portinid,jdbcType=VARCHAR}, 
      #{portiniddesc,jdbcType=VARCHAR}, #{portoutid,jdbcType=VARCHAR}, #{portoutiddesc,jdbcType=VARCHAR}, 
      #{homenet,jdbcType=VARCHAR}, #{homenetdesc,jdbcType=VARCHAR}, #{activetime,jdbcType=VARCHAR}, 
      #{servicetype,jdbcType=VARCHAR}, #{servicetypedesc,jdbcType=VARCHAR}, #{region,jdbcType=VARCHAR}, 
      #{regionname,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, #{provincename,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ucss.elementary.tnwn.model.database.TUserInfoTemp" >
    insert into T_USER_INFO_TEMP
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="servicenum != null" >
        SERVICENUM,
      </if>
      <if test="state != null" >
        STATE,
      </if>
      <if test="statedesc != null" >
        STATEDESC,
      </if>
      <if test="netid != null" >
        NETID,
      </if>
      <if test="netiddesc != null" >
        NETIDDESC,
      </if>
      <if test="portinid != null" >
        PORTINID,
      </if>
      <if test="portiniddesc != null" >
        PORTINIDDESC,
      </if>
      <if test="portoutid != null" >
        PORTOUTID,
      </if>
      <if test="portoutiddesc != null" >
        PORTOUTIDDESC,
      </if>
      <if test="homenet != null" >
        HOMENET,
      </if>
      <if test="homenetdesc != null" >
        HOMENETDESC,
      </if>
      <if test="activetime != null" >
        ACTIVETIME,
      </if>
      <if test="servicetype != null" >
        SERVICETYPE,
      </if>
      <if test="servicetypedesc != null" >
        SERVICETYPEDESC,
      </if>
      <if test="region != null" >
        REGION,
      </if>
      <if test="regionname != null" >
        REGIONNAME,
      </if>
      <if test="province != null" >
        PROVINCE,
      </if>
      <if test="provincename != null" >
        PROVINCENAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="servicenum != null" >
        #{servicenum,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="statedesc != null" >
        #{statedesc,jdbcType=VARCHAR},
      </if>
      <if test="netid != null" >
        #{netid,jdbcType=VARCHAR},
      </if>
      <if test="netiddesc != null" >
        #{netiddesc,jdbcType=VARCHAR},
      </if>
      <if test="portinid != null" >
        #{portinid,jdbcType=VARCHAR},
      </if>
      <if test="portiniddesc != null" >
        #{portiniddesc,jdbcType=VARCHAR},
      </if>
      <if test="portoutid != null" >
        #{portoutid,jdbcType=VARCHAR},
      </if>
      <if test="portoutiddesc != null" >
        #{portoutiddesc,jdbcType=VARCHAR},
      </if>
      <if test="homenet != null" >
        #{homenet,jdbcType=VARCHAR},
      </if>
      <if test="homenetdesc != null" >
        #{homenetdesc,jdbcType=VARCHAR},
      </if>
      <if test="activetime != null" >
        #{activetime,jdbcType=VARCHAR},
      </if>
      <if test="servicetype != null" >
        #{servicetype,jdbcType=VARCHAR},
      </if>
      <if test="servicetypedesc != null" >
        #{servicetypedesc,jdbcType=VARCHAR},
      </if>
      <if test="region != null" >
        #{region,jdbcType=VARCHAR},
      </if>
      <if test="regionname != null" >
        #{regionname,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="provincename != null" >
        #{provincename,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ucss.elementary.tnwn.model.database.TUserInfoTempExample" resultType="java.lang.Integer" >
    select count(*) from T_USER_INFO_TEMP
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update T_USER_INFO_TEMP
    <set >
      <if test="record.servicenum != null" >
        SERVICENUM = #{record.servicenum,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null" >
        STATE = #{record.state,jdbcType=VARCHAR},
      </if>
      <if test="record.statedesc != null" >
        STATEDESC = #{record.statedesc,jdbcType=VARCHAR},
      </if>
      <if test="record.netid != null" >
        NETID = #{record.netid,jdbcType=VARCHAR},
      </if>
      <if test="record.netiddesc != null" >
        NETIDDESC = #{record.netiddesc,jdbcType=VARCHAR},
      </if>
      <if test="record.portinid != null" >
        PORTINID = #{record.portinid,jdbcType=VARCHAR},
      </if>
      <if test="record.portiniddesc != null" >
        PORTINIDDESC = #{record.portiniddesc,jdbcType=VARCHAR},
      </if>
      <if test="record.portoutid != null" >
        PORTOUTID = #{record.portoutid,jdbcType=VARCHAR},
      </if>
      <if test="record.portoutiddesc != null" >
        PORTOUTIDDESC = #{record.portoutiddesc,jdbcType=VARCHAR},
      </if>
      <if test="record.homenet != null" >
        HOMENET = #{record.homenet,jdbcType=VARCHAR},
      </if>
      <if test="record.homenetdesc != null" >
        HOMENETDESC = #{record.homenetdesc,jdbcType=VARCHAR},
      </if>
      <if test="record.activetime != null" >
        ACTIVETIME = #{record.activetime,jdbcType=VARCHAR},
      </if>
      <if test="record.servicetype != null" >
        SERVICETYPE = #{record.servicetype,jdbcType=VARCHAR},
      </if>
      <if test="record.servicetypedesc != null" >
        SERVICETYPEDESC = #{record.servicetypedesc,jdbcType=VARCHAR},
      </if>
      <if test="record.region != null" >
        REGION = #{record.region,jdbcType=VARCHAR},
      </if>
      <if test="record.regionname != null" >
        REGIONNAME = #{record.regionname,jdbcType=VARCHAR},
      </if>
      <if test="record.province != null" >
        PROVINCE = #{record.province,jdbcType=VARCHAR},
      </if>
      <if test="record.provincename != null" >
        PROVINCENAME = #{record.provincename,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update T_USER_INFO_TEMP
    set SERVICENUM = #{record.servicenum,jdbcType=VARCHAR},
      STATE = #{record.state,jdbcType=VARCHAR},
      STATEDESC = #{record.statedesc,jdbcType=VARCHAR},
      NETID = #{record.netid,jdbcType=VARCHAR},
      NETIDDESC = #{record.netiddesc,jdbcType=VARCHAR},
      PORTINID = #{record.portinid,jdbcType=VARCHAR},
      PORTINIDDESC = #{record.portiniddesc,jdbcType=VARCHAR},
      PORTOUTID = #{record.portoutid,jdbcType=VARCHAR},
      PORTOUTIDDESC = #{record.portoutiddesc,jdbcType=VARCHAR},
      HOMENET = #{record.homenet,jdbcType=VARCHAR},
      HOMENETDESC = #{record.homenetdesc,jdbcType=VARCHAR},
      ACTIVETIME = #{record.activetime,jdbcType=VARCHAR},
      SERVICETYPE = #{record.servicetype,jdbcType=VARCHAR},
      SERVICETYPEDESC = #{record.servicetypedesc,jdbcType=VARCHAR},
      REGION = #{record.region,jdbcType=VARCHAR},
      REGIONNAME = #{record.regionname,jdbcType=VARCHAR},
      PROVINCE = #{record.province,jdbcType=VARCHAR},
      PROVINCENAME = #{record.provincename,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>